/* {
    outline: 1px solid red;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #199dc9;
}

.contenedor {
    display: flex;
}

/* NAV */
.nav {
    background-color: #0c6aa8;
    color: white;
    min-width: 200px;
    flex: 1;
    max-width: 300px;
    padding: 10px;
}

.nav h2 {
    margin-bottom: 20px;
}

.nav ul {
    list-style: none;
}   

.nav li {
    margin: 10px 0;
}

.nav a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav a:hover {
    color: #ffd54f;
}

.decoracion-huellas img {
    width: 100%;
}
.decoracion-hueso img {
    width: 100%;
}

.decoracion-cabeza img {
    width: 100%;
}

/* CONTENIDO */
.contenido {
    flex: 4;
    padding: 30px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
    flex-direction: column; /* dirección de elementos en columnas, vertical */
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: flex-start;
}

.tarjeta {
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.tarjeta:hover {
    transform: scale(1.05);
}

/* Proporciones */
.grande {
    flex: 3;
    background-color: #ffd54f;
}

.mediana {
    flex: 2;
    background-color: #4fc3f7;
}

.pequeña {
    flex: 1;
    background-color: #d63ba8;
}

.tarjeta.grande {
    flex: 2;
    background-color: #1cc9e7;
}

.tarjeta.grande {
    font-weight: bold;
    text-align: center;
    padding: 0%;
    padding-bottom: 20px;
    width: 150px;
    height: 200px;
}

.tarjeta.grande img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.mediana-vertical {
    font-weight: bold;
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;     /* Centrarlo horizontalmente */
    justify-content: center; /* Centrarlo verticalmente */
    padding: 10px;
    background-color: #1cc9e7;
}

.mediana-vertical img {
    width: 106%;
    height: 100%;
    border-radius: 10px;
}

.pequeña-vertical {
    font-weight: bold;
    width: 250px;
    height: 195px;
    display: flex;
    flex-direction: column; /* Pone los elementos uno debajo de otro en vertical */
    align-items: center;
    background-color: #14bddb;
}

.pequeña-vertical img {
    width: 100%;
    height: 150%;
    border-radius: 10px;
}

.mediana-horizontal {
    font-weight: bold;
    width: 350px;
    height: 200px;
    background-color: #1cc9e7;
}

.mediana-horizontal img {
    width: 100%;
    height: 89%;
    border-radius: 10px;
}

.larga-horizontal {
    font-weight: bold;
    width: 350px;
    height: 180px;
    background-color: #1cc9e7;
    flex: none;
}

.larga-horizontal img{
    width: 100%;
    height: 88%;
    border-radius: 10px;
}

.pequeña-horizontal {
    font-weight: bold;
    width: 250px;
    height: 190px;
    background-color: #1cc9e7;
    flex: none;
}

.pequeña-horizontal img {
    width: 100%;
    height: 89%;
    border-radius: 10px;
}

.grande-horizontal {
    font-weight: bold;
    width: 450px;
    height: 260px;
    background-color: #14bddb;
}

.grande-horizontal img {
    width: 100%;
    height: 92%;
    border-radius: 7px;
}